* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
  }
.header{
    background-color: #222;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    align-items: center;
}
.header__left{
    display: flex;
    align-items: center;
    margin-left: 231px;
    margin-top: 18px;
    margin-bottom: 19px;
    gap: 41px;
}
.header__right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
    margin-right: 240px;
    margin-top: 26px;
}
.top__logo{
    display: flex;
    flex-direction: row;
    background-color: #F1E4E6;
    width: 100%;
}
.top_logo_img {
    width: 45%;

}
.top_logo_brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.top_logo_rectangle{
    display: flex;
    margin-left: 60%;
}
.top__logo_text{
    display: flex;
    flex-direction: column;
}
.top_logo_text_top{
    display: flex;
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
}
.top_logo_text_bot{
    display: flex;
    direction: row;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.sale_center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: stretch;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 30px;
}
.sale_center_img_women{
    grid-area: 1 / 1 / 2 / 2;
}
.sale_center_img_men{
    grid-area: 1 / 2 / 2 / 3;
}
.sale_center_img_kid{
    grid-area: 1 / 3 / 2 / 4;
}
.sale_center_img_accesories{
    grid-area: 2 / 1 / 3 / 4;
}
.all_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sale_center_text_top{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sale_center_text_bot{
    color: #F16D7F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.text_middle_top{
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_middle_bot{
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item_card{
    display: flex;
    flex-direction: column;
}
.item_card_img{
    align-items: center;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}
.item_card_content{
    margin: 24px 16px;
}
.item_card_content_title{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.item_card_content_text{
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-top: 16px;
    margin-bottom: 16px;
}
.item_card_content_cost{
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button{
    margin-top: 40px;
    border: 1px;
    border-style: solid;
    border-color: #F16D7F;
}
.button_more{
    border: none;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin: 15px 38px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer_up{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #222224;
}
.footer_up_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 2%;
    padding-right: 2%;
}
.footer_up_item_img{
    max-width: 100px;
    margin-bottom: 20px;
}
.footer_up_item_title{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px
}
.footer_up_item_desc{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_midle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
    background-color: #e0dddd;
    justify-content: space-around;
    align-items: center;
}
.footer_midle_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_midle_left_img{
    max-width: 100px;
    margin-bottom: 20px;
}
.footer_midle_left_text{
    max-width: 50%;
    color: #222224;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px; 
}
.footer_midle_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_midle_right_title{
    color: #222224;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_midle_right_desc{
    color: #222224;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
.footer_midle_right_action{
    display: flex;
}
.footer_midle_input{
    height: 50px;
    width: 85%;
    color: #525151;
    background-color:#f3efef;
    padding-left: 20px;
    border-style: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.footer_midle_button{
    width: 100px;
    background-color: #F16D7F;
    border-style: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer_down{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100px;
    background-color: #222224;
}
.footer_down_logos{
    color: #f0f0f5;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
.footer_down_icons{
    display: flex;
    gap: 20px;
    margin-left: 30%;
}
.footer_down_icon{
    background: white;
    padding: 5px;
}
.footer_down_icon:hover{
    background-color: #F16D7F;
}



@media(max-width:1024px){
    .center{
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .header__left{
        margin-left: 32px;

    }
    .header__right{
        margin-right: 32px;
    }
    .top_logo_brand{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }
    .top_logo_text_top{
        font-size: 44px;
    }
    .top_logo_text_bot{
        font-size: 24px;
    }
    .text_middle{
        margin-top: 110px;
        margin-bottom: 77px;
    }
    .content_item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .button{
        width: 212px;
        height: 48px;
        margin-left: 200px;
    }
    .footer_up{
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
    }
    .footer_midle{
        grid-template-columns: 1fr;
    }
    .footer_midle_right{
        margin-bottom: 50px;
    }
}




@media(max-width:767px){
    body{
        min-width: 350px;
    }
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .header__right{
        display: none;
    }
    .header__right_mobile{
        display: flex;
        justify-content: flex-end;
        margin-right: 16px;
    }
    .top_logo_img{
        display: none;
    }
    .top__logo{
        justify-content: center;
    }
    .top__logo_brand{
        height: 300px;
    }
    .top_logo_rectangle{
        height: 61px;
    }
    .top_logo_text_top{
        font-size: 38px;
    }
    .top_logo_text_bot{
        font-size: 26px;
    }
    .sale_center{
        font-size: 24px;
    }
    .women_phone{
        grid-area: 1 / 1 / 2 / 2;
    }
    .men_phone{
        grid-area: 2 / 1 / 3 / 2;
    }
    .kids_phone{
        grid-area: 3 / 1 / 4 / 2;
    }
    .accesories_phone{
        grid-area: 4 / 1 / 5 / 2;
    }
    .content_item{
        display: flex;
        flex-direction: column;
    }
    .item_card_img{
        display: block;
        grid-area: 1 / 1 / 2 / 2;
    }
    .footer_up {
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
    }
    .footer_midle{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 50px;
    }
    .footer_midle_left_img{
        margin-top: 50px;
    }
    .footer_midle_right{
        margin-bottom: 50px;
    }
    .footer_midle_right_title{
        font-size: 26px;
    }
    .footer_midle_right_desc{
        font-size: 14px;
    }
    .footer_down{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        height: auto;
    }
    .footer_down_logos{
        margin-top: 20px;
    }
    .footer_down_icons{
        margin: 30px 0 0 0;
        gap: 10px;
        justify-content: center;
    }
    .footer_down_icon{
        height: 30px;
    }
    
}
